
investigacion/settings.py
investigacion/__pycache__/settings.cpython-36.pyc
app/Ponencia/migrations/__pycache__/__init__.cpython-36.pyc
app/Ponencia/__pycache__/models.cpython-36.pyc
app/Ponencia/__pycache__/admin.cpython-36.pyc
app/Ponencia/__pycache__/__init__.cpython-36.pyc
investigacion/__pycache__/settings.cpython-36.pyc
.idea/workspace.xml
