
.idea/workspace.xml
.idea/workspace.xml
investigacion/__pycache__/settings.cpython-36.pyc
.idea/investigacion.iml
.idea/misc.xml
.idea/investigacion.iml
.idea/investigacion.iml
*.iml
*.iml
.idea/misc.xml
*.xml
