{% extends 'base/base.html' %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
{% block content %}
<br><br><br><br>
<form method="post">
    <div class="wow fadeInUp animated" style="background: #AFB5B9; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span>NUEVA <span style="color:#FC9C30">PONENCIA</span> </h2>
        </div>
    <br>
    <div class="row" >

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Año</label>
                <input class="form-control" type="date"/>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Autores</label>
                <input class="form-control" type="text" style=""/>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Certificado</label>
				<input class="form-control" type="file">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Título</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>

<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Tipo</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Finaciamiento</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Link</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Informe</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Fecha de Entrega de Certificado</label>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Datos</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Asistencia</label>
                <select class="form-control">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>

			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Evento</label>
               <select class="form-control">

                </select>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Revista</label>
                <select class="form-control">

                </select>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Libro</label>
                <select class="form-control">

                </select>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}
